# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Dev Dependencies
node_modules/
vendor/

# Build
build/

# Env
.env